<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>

  <connectionStrings>
    <add name="connstrng" connectionString="Data Source=(local);Initial Catalog=BIMStore;Integrated Security=True"/>
    <add name="BIMStore.Properties.Settings.BIMStoreConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\BIMStore.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
